<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="icon-large icon-sun"></i>Forecast Weather App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" (ngSubmit)="getNewWeather($event)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="City or zipcode" name="city" [(ngModel)]="city" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid main">
  <div class="col-xs-12">
    <div class="row head" *ngIf="data">
      <p>{{today | date:'EEEE, d MMMM'}}</p>
      <h3 class="text-center">{{data.city.name + ', '+ data.city.country}}</h3>
      <p class="text-center">
        <img src="{{'http://openweathermap.org/img/w/' + data.list[0].weather[0].icon + '.png'}}" alt="{{data.list[0].weather[0].description}}">
        {{data.list[0].weather[0].main}}
      </p>
      <h1 class="text-center">
        <span class="day">{{data.list[0].temp.day}} &deg;C</span>
        <span class="night">{{data.list[0].temp.night}} &deg;C</span>
      </h1>
      <p class="text-center">
        <span>
          <strong>Pressure: </strong> {{data.list[0].pressure}}
        </span>
          <span>
          <strong>Humidity: </strong> {{data.list[0].humidity}}
        </span>
          <span>
          <strong>Wind speed: </strong> {{data.list[0].speed + 'm/s'}}
        </span>
          <span>
          <strong>Clouds: </strong> {{data.list[0].clouds + '%'}}
        </span>
      </p>
    </div>
    <div class="row no-data" *ngIf="!data">
      <form (ngSubmit)="getNewWeather2($event)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="City or zipcode" name="city" [(ngModel)]="city" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

    <h4>Forecast 16 days <button (click)="showGraph()" *ngIf="data">show</button></h4>
    <div class="days">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#wind">Wind</a></li>
        <li><a data-toggle="tab" href="#temp">Temperature</a></li>
        <li><a data-toggle="tab" href="#pressure">Pressure</a></li>
        <li><a data-toggle="tab" href="#humidity">Humidity</a></li>
      </ul>

      <div class="tab-content">
        <div id="wind" class="tab-pane fade in active">
          <div class="row" *ngIf="!data">
            <h3>Wind</h3>
            <p>Not has had a data yet.</p>
          </div>
          <div class="row" *ngIf="data">
            <graph type="Wind"></graph>
          </div>
        </div>
        <div id="temp" class="tab-pane fade">
          <div class="row" *ngIf="!data">
            <h3>Temperature</h3>
            <p>Not has had a data yet.</p>
          </div>
          <div class="row" *ngIf="data">
            <graph type="Temperature"></graph>
          </div>
        </div>
        <div id="pressure" class="tab-pane fade">
          <div class="row" *ngIf="!data">
            <h3>Pressure</h3>
            <p>Not has had a data yet.</p>
          </div>
          <div class="row" *ngIf="data">
            <graph type="Pressure"></graph>
          </div>
        </div>
        <div id="humidity" class="tab-pane fade">
          <div class="row" *ngIf="!data">
            <h3>Humidity</h3>
            <p>Not has had a data yet.</p>
          </div>
          <div class="row" *ngIf="data">
            <graph type="Humidity"></graph>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<h3>Weather Component</h3>

<p>{{data}}</p>
<button (click)="getWeather()">getWeather</button>
